<!doctype html>
<html lang='ko'>
<head>
	<script src="js/home/login.js" defer></script>
</head>
<body>
	<input id="id" type="text" placeholder="아이디"></input><br>
	<input id="password" type="text" placeholder="비밀번호"></input><br>
	<button>로그인</button>
</body>
</html>