<!doctype html>
<html lang='ko'>
<head>
	<script src="js/home/login.js"></script>
</head>
<body>
	<input type="text" placeholder="아이디"></input><br>
	<input type="text" placeholder="비밀번호"></input><br>
	<button>로그인</button>
</body>
</html>